
p{
    background-color: hsl(180, 31%, 95%);
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    color: hsl(180, 29%, 50%);
}

p:hover{
    background-color: hsl(180, 29%, 50%);
    color: white;
}