 #container{
    display: flex;
    flex-flow: row;
    height: 30px;
    margin-left: 18px;
    margin-bottom: 12px;
    margin-top: 12px;
 }

 #label{
    color: hsl(180, 29%, 50%);
    font-weight: 700;
    padding-right: 6px;
    padding-left: 6px;
    background-color: hsl(180, 31%, 95%);
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 0px 0px 6px;
}

#remove{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(180, 29%, 50%);
    width: 30px;
    border-radius: 0px 6px 6px 0px;
 }

 #remove:hover{
    background-color: hsl(180, 14%, 20%);
    cursor: pointer;
 }

#remove-icon{
    width: 50%;
    height: 50%;
    margin: auto;
}
