
div#filterbar {
   position: absolute;
   top: calc(100% - 30px);
   width: 85%;
   margin-left: 7.5%;
}

div#list {
   position: absolute;
   top: calc(100% + 50px);
   width: 85%;
   margin-left: 7.5%;
}


@media screen and (max-width: 376px) {  
   div#list{
      width: 95%;
      margin-left: 2.5%;
      top: calc(100% + 20px);
   }
} 